<div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
         <h1>Where are you from?</h1>
           <form action= "/city">
               <input type="text" name="city" placeholder="Globe, AZ"  class="form-control">
               <input type ="submit" Value="Answer">         
           </form>
       </div>
    </div>
</div>